bin/
build/
dist/
obj/
stripped.libraries/
_ReSharper*
.DS_Store
.generator
*.Cache
*.docstates
*.pbxuser
*.perspectivev3
*.pidb
*.resources
*.suo
*.user
*.userprefs
*.xcworkspace
Monobjc-*/
Monobjc-*.pkg
Monobjc-*.tar.gz
Monobjc-*.txt
runtime
TestResult.xml
xcuserdata/

